import * as S from './styles';

interface {{pascalCase name}}Props {
  
}

export const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => {
  return (
    <S.Wrapper>
      <h1>{{pascalCase name}}</h1>
    </S.Wrapper>
  );
};
